{% extends 'base_layout.html' %}

{% block content %}

<div class="container-fluid" style="margin-top: 75px" id="screenshot">
    {% if display_question_no %}
    <h4>Question {{question_no}}</h4>
    <p id="interactivity-message"></p>
    <hr/>
    {% endif %}
    <div id="loading">
        Loading...
    </div>

    <div id="fatal-error" style="display: none">
        <p><b>Error: </b> <span id="fatal-error-message"></span></p>
        <p>Please refresh the page to continue.</p>
    </div>

    <div id="player" style="display: none">
    <div class="row">
        <div class="col-md-6">
            <h3>&nbsp;</h3>
            <div id="conventional-map"></div>
        </div>
        <div class="col-md-6">
            <h3 id="frame-label">&nbsp;</h3>
            <div id="frame-map"></div>
            <div id="controls">
                <div id="frame-controls" class="btn-group"></div>
                <br/><br/>
                <button id="play-pause" type="button" onclick="window.cartanim.toggle_play();" class="btn btn-secondary">Play</button>
            </div>
            
        </div>

        
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if display_previous %}
            <p><a class="btn btn-primary" href="{{previous_url}}" id="prev-button">« Previous</a></p>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if display_next %}
            <p><a style="float: right" class="btn btn-primary" href="{{next_url}}" id="next-button">Next »</a></p>
            {% endif %}
        </div>
    </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<!--<script src="{{ url_for('static', filename='oboe-browser.js') }}"></script>-->

    <script src="{{ url_for('static', filename='cartanim.js') }}"></script>

    <script>
      window.onload = function() {

            cartanim_init("{{ url_for('static', filename='animdata') }}", "{{deactivate_list}}");

            window.cartanim.load_animation("{{animation_name}}");
            window.cartanim.toggle_play();

        };
    </script>

{% endblock javascript %}
