{% extends 'base_layout.html' %}

{% block content %}

<div class="container" style="margin-top: 75px">
    <div id="loading">
        Loading...
    </div>

    <div id="fatal-error" style="display: none">
        <p><b>Error: </b> <span id="fatal-error-message"></span></p>
        <p>Please refresh the page to continue.</p>
    </div>

    <div id="player" style="display: none">
    <div class="row">
        <div class="col-md-6">
            <h3>&nbsp;</h3>
            <div id="conventional-map"></div>
        </div>
        <div class="col-md-6">
            <h3 id="frame-label">&nbsp;</h3>
            <div id="frame-map"></div>
            <div id="controls">
                <div id="frame-controls" class="btn-group"></div>
                <br/><br/>
                <button id="play-pause" type="button" onclick="window.cartanim.toggle_play();" class="btn btn-secondary">Play</button>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<!--<script src="{{ url_for('static', filename='oboe-browser.js') }}"></script>-->

    <script src="{{ url_for('static', filename='cartanim.js') }}"></script>

    <script>
      window.onload = function() {

            cartanim_init("{{ url_for('static', filename='animdata') }}");

            window.cartanim.load_animation("usapop");
            window.cartanim.toggle_play();

        };
    </script>

{% endblock javascript %}
