<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-ease.v1.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Creating Cartograms Online</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='bootstrap.min.theme.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <style>

      body { padding-bottom: 70px; }

      .progress-bar {
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
    }

    .social-link {
      font-size: 50px;
      color: #707070;
      text-decoration: none;
    }

    .social-link:hover {
      color: #D76127;
    }

    .navbar-nav .nav-item {
      padding-left: 10px;
      padding-right: 10px;
    }
    .navbar-nav .nav-item a {
      text-decoration: underline;
      font-size: 1em !important;
      text-decoration-color: #BABAB9;
      color: #BABAB9 !important;
      text-transform: uppercase;
    }

    .navbar-nav .active a {
      text-decoration: underline;
      font-size: 1em !important;
      text-decoration-color: #D76127;
      color: #D76127 !important;
    }

    footer p {
      font-size: small;
    }

    @media screen and (min-width: 1600px) {

      .navbar {
        padding-left: 150px;
        padding-right: 150px;
      }

    }
    </style>
    {% block head_extra %}
    {% endblock %}
  </head>

  <body>
    <div class="container-fluid" style="margin-top: 20px">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background: #f9f9f9; box-shadow: 0 6px 2px -2px #BABAB9">
      <!-- We don't need this button until we add menu items to the navbar -->
      <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename='gocart_final.svg') }}" width="150" alt="" style="margin-left: 0px" />
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" style="margin-right: 50px">
          <li class="nav-item {%if page_active=='home'%}active{%endif%}">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item {%if page_active=='cartogram'%}active{%endif%}">
              <a class="nav-link" href="/cartogram">Make Cartogram</a>
            </li>
          <li class="nav-item {%if page_active=='tutorial'%}active{%endif%}">
                <a class="nav-link" href="/tutorial">Tutorial</a>
              </li>
              <li class="nav-item {%if page_active=='about'%}active{%endif%}">
                  <a class="nav-link" href="/about">About</a>
                </li>
          <li class="nav-item {%if page_active=='faq'%}active{%endif%}">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          
          <li class="nav-item {%if page_active=='contact'%}active{%endif%}">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
         <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>-->
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>-->
        </ul>
    </div>
        <!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
    </nav>
  </div>
    <div style="margin-top: 120px">{% block content %}{% endblock %}</div>


    <div class="container-fluid">
    <footer class="text-secondary">
    <p>&copy; Michael T. Gastner<br/>
        <a href="http://michaelgastner.com/">michaelgastner.com</a><br/>
        Yale-NUS College, Division of Science <br/>
        16 College Avenue West, <br/>
        #01-220 Singapore 138527</p>
    </footer>
    </div> <!-- /container -->

        <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>

  {% block javascript %}{% endblock %}

        </body>
        </html>
    
    
