{% extends 'base_layout.html' %}

{% block head_extra %}
 <!-- Custom styles for this template -->
 <link href="{{ url_for('static', filename='starter-template.css') }}" rel="stylesheet">
 <script src="https://www.google.com/recaptcha/api.js?" async defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
          <div class="starter-template">
            <h1>Contact Us</h1>
         </div>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          {% for category, message in messages %}
                          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                          </div>
                          {% endfor %}
                        {% endif %}
                      {% endwith %}

                      <div class="alert alert-danger alert-dismissible fade show" style="display: none" role="alert" id="captcha-alert">
                            You must complete the CAPTCHA.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                      </div>
                    <form action="{{url_for('contact')}}" method="POST" onsubmit="return onContactFormSubmit();">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="name">
                                    Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required="required" value="{{name}}"/>
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email Address</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required="required" value="{{email_address}}"/>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Subject</label>
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter subject" required="required" value="{{subject}}"/>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="name">
                                    Message</label>
                                <textarea name="message" id="message" class="form-control" rows="10" cols="25" required="required"
                                    placeholder="Message">{{message}}</textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="hidden" name="csrftoken" value="{{csrf_token}}"/>
                            <div class="g-recaptcha" data-sitekey="{{recaptcha_site_key}}" data-callback="onCaptchaSubmit"></div>
                            <br/>
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs" disabled>
                                Send Message</button>
                        </div>
                    </div>
                    </form>
            </div>
            <!--<div class="col-md-4">
                
                <p></br></p>
                <p></br></p>
                <legend><span class="glyphicon glyphicon-globe"></span> Our location:</legend>
                <address>
                    <strong>Yale-NUS College</strong><br>
                    28 College Avenue West<br>
                    Singapore, 138609<br>
                    <abbr title="Phone">
                        P:</abbr>
                    (65) 1234-5678
                </address>
                <address>
                    <strong>Michael Gastner</strong><br>
                    <a href="mailto:michael.gastner@yale-nus.edu.sg">michael.gastner@yale-nus.edu.sg</a>
                </address>
                
            </div>-->
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    var captchaSubmitted = false;

    window.onCaptchaSubmit = () => {
        captchaSubmitted = true;
        document.getElementById('btnContactUs').disabled = false;
    };

    const onContactFormSubmit = () => {

        if(!captchaSubmitted) {
            document.getElementById('captcha-alert').style.display = 'block';
            return false;
        }

        return true;

    };


</script>
{% endblock %}

