      <footer>
        <p>&copy; Michael T. Gastner <br/>
			Yale-NUS College, Division of Science <br/>
			16 College Avenue West, #01-220 Singapore 138527</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ url_for('static', filename='oboe-browser.js') }}"></script>

    <script src="{{ url_for('static', filename='cartogram.js') }}"></script>

    <script>
      window.onload = function() {

            cartogram_init("{{cartogram_url}}", "{{cartogramui_url}}", "{{cartogram_data_dir}}");

            document.getElementById('handler').addEventListener('change', function(e){

              document.getElementById('template-link').href = "{{cartogram_data_dir}}/" + document.getElementById('handler').value + "/template.csv";

            });

            window.cartogram.enter_loading_state();

            window.cartogram.get_default_colors("{{default_cartogram_handler}}").then(function(colors){

              window.cartogram.color_data = colors;

              window.cartogram.draw_two_maps(window.cartogram.get_pregenerated_map("{{default_cartogram_handler}}", "original"), window.cartogram.get_pregenerated_map("{{default_cartogram_handler}}", "population"), "map-area", "cartogram-area", "Land Area", "Population").then(function(v){

                window.cartogram.tooltip.push(v[0].tooltip);
                window.cartogram.tooltip.push(v[1].tooltip);

                window.cartogram.generate_svg_download_links('map-area', 'cartogram-area', 'map-download', 'cartogram-download', 'map', 'cartogram');
                
                window.cartogram.exit_loading_state();
                document.getElementById('cartogram').style.display = 'flex'; // Bootstrap rows use flexbox
              }, window.cartogram.do_fatal_error); 

            }, window.cartogram.do_fatal_error);

        };
    </script>
  </body>
</html>