<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cartogram</title>
    </head>
    <body>
        <h1>Cartogram</h1>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul style="list-style-type: none; padding-left: 0;">
                {% for message in messages %}
                <li style="color: red">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <p>Download the CSV template <a href="{{ url_for('static', filename='usa_cartogram_template.csv') }}">here</a>.</p>

        <form action="{{ url_for('cartogram_ui') }}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="handler" value="usa"/>
            <label for="csv">Choose CSV File: </label>
            <input type="file" name="csv" id="csv" accept="text/csv,.csv"/>
            <br/><br/>
            <input type="submit" value="Generate"/>
        </form>
    </body>
</html>