{% extends 'base_layout.html' %}

{% block content %}

{% include 'carousel.html' %}
{% include 'cartogramui.html' %}

{% endblock %}

{% block javascript %}

<script src="{{ url_for('static', filename='oboe-browser.js') }}"></script>

    <script src="{{ url_for('static', filename='cartogram.js') }}"></script>

    <script>
      window.onload = function() {

            cartogram_init("{{cartogram_url}}", "{{cartogramui_url}}", "{{cartogram_data_dir}}");

            document.getElementById('handler').addEventListener('change', function(e){

                window.cartogram.switch_cartogram_type(document.getElementById('handler').value);

            });

            window.cartogram.switch_cartogram_type("{{default_cartogram_handler}}");

        };
    </script>

{% endblock javascript %}
