{% extends 'base_layout.html' %}

{% block content %}

{% include 'carousel.html' %}
{% include 'cartogramui.html' %}

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='oboe-browser.js') }}"></script>

    <script src="{{ url_for('static', filename='cartogram.js') }}"></script>

    <script>

    var cartogramui_data = {{cartogramui_data|safe}};
    var cartogram_data = Promise.resolve({{cartogram_data|safe}});

    window.onload = function() {

            cartogram_init("{{cartogram_url}}", "{{cartogramui_url}}", "{{cartogram_data_dir}}");

            document.getElementById('handler').addEventListener('change', function(e){

              window.cartogram.switch_cartogram_type(document.getElementById('handler').value);

            });

            window.cartogram.enter_loading_state();            

            window.cartogram.color_data = cartogramui_data.color_data;

            window.cartogram.draw_three_maps(window.cartogram.get_pregenerated_map("{{default_cartogram_handler}}", "original"), cartogram_data, window.cartogram.get_pregenerated_map("{{default_cartogram_handler}}", "population"), "map-area", "cartogram-area", "Land Area", "User Data", "Population").then(function(v){

                window.cartogram.tooltip.push(v[0].tooltip);
                window.cartogram.tooltip.push(v[2].tooltip);
                window.cartogram.tooltip.push(cartogramui_data.tooltip);

                window.cartogram.generate_svg_download_links('map-area', 'cartogram-area', 'map-download', 'cartogram-download', 'map', 'cartogram');

                window.cartogram.generate_social_media_links("https://go-cart.io/cart/" + v[1].unique_sharing_key);
                
                window.cartogram.exit_loading_state();
                document.getElementById('cartogram').style.display = 'flex'; // Bootstrap rows use flexbox
                
            }, window.cartogram.do_fatal_error);

        };
    </script>
{% endblock javascript %}

