{% extends 'base_layout.html' %}

{% block content %}

{% include 'carousel.html' %}
{% include 'cartogramui.html' %}

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='oboe-browser.js') }}"></script>
    <script src="{{ url_for('static', filename='tinycolor.js') }}"></script>
    <script src="{{ url_for('static', filename='cartogram2.js') }}"></script>

    <script>

    var cartogramui_data = {{cartogramui_data|safe}};
    var cartogram_data = {{cartogram_data|safe}};

    window.onload = function() {

            window.cartogram = new Cartogram("{{cartogram_url}}", "{{cartogramui_url}}", "{{cartogram_data_dir}}", "{{url_for('gridedit')}}");

            document.getElementById('handler').addEventListener('change', function(e){

              window.cartogram.switchMap(document.getElementById('handler').value, "");

            });

            window.cartogram.switchMap("{{default_cartogram_handler}}", "", new MapVersionData(cartogram_data.features, cartogram_data.extrema, cartogramui_data.tooltip), cartogramui_data.color_data);

        };
    </script>
{% endblock javascript %}

