{% include 'header.html' %}
    
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="first-slide" src="{{ url_for('static', filename='carousel/p1.png') }}" alt="First slide">
            <div class="container">
              <div class="carousel-caption d-none d-md-block text-left">
                <h1>gocart.io pre-alpha: </br> Creating Cartograms Online</h1>
                <p>Generate attractive contiguous cartograms. Neither maths nor programming required.</p>
                <p>Currently this site is under development, but feel free to give it a try and leave us feedback below so that we can include new features.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Make a cartogram now</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="second-slide" src="{{ url_for('static', filename='carousel/usa.png') }}" alt="Second slide">
            <div class="container">
              <div class="carousel-caption d-none d-md-block text-right">
                <h1>What is a Cartogram?</h1>
                <p> A map in which some variable is substituted for land area.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more about cartograms</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="third-slide" src="{{ url_for('static', filename='carousel/india.png') }}" alt="Third slide" style="width: 50%">
            <div class="container">
              <div class="carousel-caption d-none d-md-block text-right">
                <h1>Still have questions?</h1>
                <p>You are welcome to approach us directly.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Contact Us </a></p>
              </div>
            </div>
          </div>
        </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

     <div class="container">
       <div class="row">
         <div class="col-sm-12">
           <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Warning: </strong> This site is currently under heavy development. Certain features may not work properly.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
         </div>
       </div>
      </div>

     <div class="container-fluid">

      
      
       <div class = "row">
         <div class="col-md-2">
            <h2>Input</h2>
         </div>
          <div class="col-md-10">
          <div class="row">
          <div class = "col-md-4">
              <a class="btn btn-secondary" href="#" role="button">Tutorial</a>
            <a class="btn btn-secondary" href="{{cartogram_data_dir}}/{{default_cartogram_handler}}/template.csv" role="button" id="template-link">Download CSV template &raquo;</a>
          </div>
          <div class = "col-md-6">
            <form action="#" method="POST" enctype="multipart/form-data" class="form-inline" onsubmit="return window.cartogram.request_and_draw_cartogram();" id="cartogram-form">
              <div class="input-group mb-2 mr-sm-2">
                <label for="handler">Map:&nbsp;&nbsp;</label>
                <select class="form-control" id="handler">
                  {% for handler in cartogram_handlers %}
                  <option value="{{handler.id}}" {% if handler.id == default_cartogram_handler %}selected{% endif %}>{{handler.display_name}}</option>
                  {% endfor %}
                </select>
              </div>
              <!--<div class="input-group mb-2 mr-sm-2">-->
                <!--<label for="csv">Choose CSV File:&nbsp;&nbsp;</label>-->
                <input type="file" name="csv" id="csv" class="form-control-file" accept="text/csv,.csv" style="display: none" onchange="if(this.value != null) { window.cartogram.request_and_draw_cartogram(); }"/>
              <!--</div>-->
                <input type="button" class="btn btn-primary mb-2" value="Upload Data and Generate" onclick="clearFileInput(document.getElementById('csv'));document.getElementById('csv').click();"/>

            </form>
            <p id="non-fatal-error" class="text-danger font-weight-bold"></p>

            
          </div>
          </div> <!-- /row -->


          <div class="row">
            <div class="col-md-12">
              <div id="loading">
              <p style="font-weight: bold">Loading...</p>

              <div class="row" id="loading-progress-container" style="display: none">
                <div class="col-sm-12 col-md-6">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" id="loading-progress"></div>
                  </div>
                </div>
              </div>
            </div>

            <div id="error" style="display: none">
                  <p style="font-weight: bold">Error: <span style="font-weight: normal" id="error-message"></span></p>

                  <div id="error-extended" style="display: none">
                    <p><b>Additional Information: </b> When reporting this error, please include the information below.</p>

                    <pre id="error-extended-content"></pre>
                  </div>
            </div>
            </div>
          </div>
          </div>
       </div>

    


    <div class="row" id="cartogram" style="display: none">
      <div class="col-md-2">
            <h2>Output</h2>
         </div>
      <div class="col-md-4">
        <!--<p><a class="btn btn-secondary" href="#" role="button">Download this map &raquo;</a></p>-->
        <div style="height: 110px">
          <p id="tooltip">&nbsp;</p>
        </div>
        <div id = "map-area">
        <!--<p align="center"><img src="images/usa_ffb.png" width="300px"></p>-->
        <!-- <p align="center"><img src="images/india_ffb_comp.png" width="300px"></p> -->
    </div>
      <p style="margin-top: 20px"><a class="btn btn-secondary" href="" download="" id="map-download">Download this Map</a></p>

      <h4>Share on Social Media</h4>
      <table border="0">
        <tr>
          <td><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgo-cart.io"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
       target="_blank" title="Share on Facebook" class="social-link" id="facebook-share"><i class="fab fa-facebook-square"></i></a></td>
          <td><a href="https://www.linkedin.com/shareArticle?url=https%3A%2F%2Fgo-cart.io&mini=true&title=Cartogram&summary=Create%20cartograms%20with%20go-cart.io&source=go-cart.io"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=520,width=570');return false;"
       target="_blank" title="Share on LinkedIn" class="social-link" id="linkedin-share"><i class="fab fa-linkedin"></i></a></td>
          <td><a href="https://twitter.com/share?url=https%3A%2F%2Fgo-cart.io"
       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
       target="_blank" title="Share on Twitter" class="social-link" id="twitter-share"><i class="fab fa-twitter-square"></i></a></td>            
        </tr>
      </table>
        <!--<p align="center"><img src="images/usa_map.png" width="300px"></p>-->
        <!--<p align="center"><img src="images/india_map_comp.png" width="300px"></p>-->
        <!--<p><a class="btn btn-secondary" href="#" role="button">Download this map &raquo;</a></p>-->
     </div>
      <div class="col-md-4" id="cartogram-container">
        <!--<p><a class="btn btn-secondary" href="#" role="button">Download this cartogram &raquo;</a></p>-->
        <div style="height: 110px">
          <div id="map2-switch">
          <div class="btn-group" id="map2-switch-buttons">
          </div>
          </div><p>&nbsp;</p>
        </div>
        <div id = "cartogram-area">
        <!--<p align="center"><img src="images/usa_ffb.png" width="300px"></p>-->
        <!-- <p align="center"><img src="images/india_ffb_comp.png" width="300px"></p> -->
        
    </div>
      <p style="margin-top: 20px"><a class="btn btn-secondary" href="" download="" id="cartogram-download">Download this Cartogram</a></p>
      </div>
    </div>
    </div>

    <br/>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container-fluid">
    <hr/>
<span id="map1-switch"></span>
      <footer>
        <p>&copy; Michael T. Gastner <br/>
			Yale-NUS College, Division of Science <br/>
			16 College Avenue West, #01-220 Singapore 138527</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ url_for('static', filename='oboe-browser.js') }}"></script>

    <script src="{{ url_for('static', filename='cartogram.js') }}"></script>

    <script>

    var cartogramui_data = {{cartogramui_data|safe}};
    var cartogram_data = Promise.resolve({{cartogram_data|safe}});

    window.onload = function() {

            cartogram_init("{{cartogram_url}}", "{{cartogramui_url}}", "{{cartogram_data_dir}}");

            document.getElementById('handler').addEventListener('change', function(e){

              document.getElementById('template-link').href = "{{cartogram_data_dir}}/" + document.getElementById('handler').value + "/template.csv";

            });

            window.cartogram.enter_loading_state();            

            window.cartogram.color_data = cartogramui_data.color_data;

            window.cartogram.draw_three_maps(window.cartogram.get_pregenerated_map("{{default_cartogram_handler}}", "original"), cartogram_data, window.cartogram.get_pregenerated_map("{{default_cartogram_handler}}", "population"), "map-area", "cartogram-area", "Land Area", "User Data", "Population").then(function(v){

                window.cartogram.tooltip.push(v[0].tooltip);
                window.cartogram.tooltip.push(v[2].tooltip);
                window.cartogram.tooltip.push(cartogramui_data.tooltip);

                window.cartogram.generate_svg_download_links('map-area', 'cartogram-area', 'map-download', 'cartogram-download', 'map', 'cartogram');

                window.cartogram.generate_social_media_links("https://go-cart.io/cart/" + v[1].unique_sharing_key);
                
                window.cartogram.exit_loading_state();
                document.getElementById('cartogram').style.display = 'flex'; // Bootstrap rows use flexbox
                
            }, window.cartogram.do_fatal_error);

        };
    </script>
  </body>
</html>

