{% extends 'base_layout.html' %}

{% block content %}


{% include 'cartogramui.html' %}

{% endblock %}

{% block javascript %}

<script src="{{ url_for('static', filename='oboe-browser.js') }}"></script>
<script src="{{ url_for('static', filename='tinycolor.js') }}"></script>
<script src="{{ url_for('static', filename='cartogram2.js') }}?v={{cartogram_version}}"></script>


    <script>
      window.onload = function() {

            window.cartogram = new Cartogram("{{cartogram_url}}", "{{cartogramui_url}}", "{{cartogram_data_dir}}", "{{url_for('gridedit')}}","{{getprogress_url}}", "{{cartogram_version}}");


            // When user uses the dropdown list and changes the map
            document.getElementById('handler').addEventListener('change', function(e){

                window.cartogram.switchMap(document.getElementById('handler').value, "");

            });

          window.cartogram.switchMap(document.getElementById('handler').value, "");

        };
    </script>

{% endblock javascript %}
