{% extends 'base_layout.html' %}

{% block content %}

{% include 'cartogramui_survey.html' %}

{% endblock %}

{% block javascript %}

<script src="{{ url_for('static', filename='oboe-browser.js') }}"></script>

    <script src="{{ url_for('static', filename='cartogram.js') }}"></script>
    <script src="{{ url_for('static', filename='cartsurvey.js') }}"></script>

    <script>
      window.onload = function() {

            cartogram_init("{{cartogram_url}}", "{{cartogramui_url}}", "{{cartogram_data_dir}}", "{{url_for('gridedit')}}");

            cartsurvey_init("/anim/", "/3maps", "/static/surveys/data", "/static/surveys", "/survey/");

            window.cartsurvey.load_survey("{{survey_name}}").then(function(){

                window.cartsurvey.display_question({{survey_question}});

            }, function(e){
                window.cartogram.do_fatal_error("There was a problem loading the survey.");
            })

        };
    </script>

{% endblock javascript %}
